section
{
  background-color: lightslategrey;
  width: 101%;
  height: 101vh;
  margin: -8px;
  padding: 0px;
}

#pluja
{
  float: inline-end;
  width: 60%;
  height: 100%;
}

.caixa
{
  padding-top: 10%;
  padding-left: 5%;
  font-size: 221%;
}
 
  